body {
    background-color: rgb(186, 216, 247);
    font-family: 'Concert One', cursive;
}

.loginsignup{
   text-align:center;
}

.boredapptitle{
    padding: 30px;
}

.loginsignupforgotform{
    padding-top: 30px;
}

li {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

.generator-buttons {
    display: inline-block;
    background-color: #1c79bc;
    color: whitesmoke;
    padding: 5px 6px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.generator-buttons:hover {
    background-color: rgb(7, 90, 150);
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-top: 30px;
    width: 100%;
}

.top-row {
    display: inherit;
    justify-content: inherit;
    width: inherit;
    margin-top: 15px;
}

.bottom-row {
    display: inherit;
    justify-content: inherit;
    width: inherit;
    padding-top: 40px;
}


.bottom-row p, {
    width:65%;
}

.pwrequirementstext {
  max-width: 590px; /* Limits the width of the element to 590 pixels */
  word-wrap: break-word; /* Wraps long words within the specified width */
  margin: 0 auto; /* Centers the element horizontally */
  text-align: center; /* Centers the text inside the element */
}

.displayed-activity-container {
    text-align:center;
    padding-top:25px;
}


