{% extends "base1.html" %}

{% block title %}Login Page{% endblock %}

{% block content %}

     {% with messages = get_flashed_messages(with_categories=true) %}
     {% if messages %}
         {% for category,message in messages %}
         {% if category == "success" %}
             <div class="alert alert-success mb-3 alert-dismissible fade show" role="alert" id="alert-message" >
                 <p>{{ message }}</p>
             </div>
         {% endif %}

         {% if category == "error" %}
             <div class="alert alert-danger mb-3 alert-dismissible fade show" role="alert" id="alert-message" >
                 <p>{{ message }}</p>
             </div>
         {% endif %}

           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true"></span>
           </button>


         <script>
         setTimeout(() => {
             document.getElementById("alert-message").style.opacity = "0";
         }, 1700);
         </script>

         {% endfor %}

     {% endif%}
     {% endwith %}

<button id="backButton">Go Back</button>

<h1> The BoredApp</h1>
<h2> Log into your Account</h2>


<!-- WTF-Flask FORM  -->
<form method="POST">
    {{ form.hidden_tag() }}  <!-- This will create our csrf token-->
    <p>{{ form.emailOrUsername(placeholder="Enter Email or Username") }}</p>
    <p>{{ form.password(placeholder="Enter Password") }}</p>
    <br/>
    {{ form.submit() }}
</form>

<br/>
<p><a href="{{url_for('forgotpassword')}}">Forgotten your password?</a></p>
<p>Don't have an Account?<a href="{{url_for('signup')}}"> Sign up</a></p>


<!-- HTML FORM -->

<!-- <form action="#" method="POST">
    <p><input type="text" name="emailOrUsername" placeholder="Enter Email or Username"/></p>
    <p><input type="text" name="password" placeholder="Enter Password"/></p>
    <p><input type="submit" value="Sign in"/></p>
</form>


-->

{% endblock %}
