{% extends "base1.html" %}

{% block title %}Sign Up Page{% endblock %}

{% block content %}

     {% with messages = get_flashed_messages(with_categories=true) %}
     {% if messages %}
         {% for category,message in messages %}
         {% if category == "success" %}
             <div class="alert alert-success mb-3 alert-dismissible fade show" role="alert" id="alert-message" >
                 <p>{{ message }}</p>
             </div>
         {% endif %}

         {% if category == "error" %}
             <div class="alert alert-danger mb-3 alert-dismissible fade show" role="alert" id="alert-message" >
                 <p>{{ message }}</p>
             </div>
         {% endif %}

           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true"></span>
           </button>


         <script>
         setTimeout(() => {
             document.getElementById("alert-message").style.opacity = "0";
         }, 1700);
         </script>

         {% endfor %}

     {% endif%}
     {% endwith %}


<button id="backButton">Go Back</button>

<h1> The BoredApp</h1>
<h2> Sign up to get amazing activity ideas </h2>

<!-- WTF-Flask FORM -->
<form action="#" method="POST">
    {{ form.hidden_tag() }}  <!-- This will create our csrf token-->
    <p>{{ form.firstname(placeholder="Firstname") }}</p>
    <p>{{ form.lastname(placeholder="Lastname") }}</p>
    <p>{{ form.email(placeholder="Email") }}</p>
    <p>{{ form.dateofbirth(placeholder="Date Of Birth") }}</p>
    <p>{{ form.city(placeholder="City") }}</p>
    <p>{{ form.username(placeholder="Username") }}</p>
    <p>{{ form.password(placeholder="Password") }}</p>
    <br/>
    {{ form.submit() }}
</form>
<br>
<p>Have an Account?<a href="{{url_for('login')}}"> Log in</a></p>

<!-- HTML FORM BELOW -->

<!--
<form action="#" method="POST">
    <p><input type="text" name="firstname" placeholder="Firstname"/></p>
    <p><input type="text" name="lastname" placeholder="Lastname"/></p>
    <p><input type="email" name="email" placeholder="Email"/></p>
    <p><input type="date" name="dateofbirth" placeholder="Date Of Birth (DD-MM-YYYY)"/></p>
    <p><input type="text" name="city" placeholder="City"/></p>
    <p><input type="text" name="username" placeholder="Username"/></p>
    <p><input type="text" name="password" placeholder="Password"/></p>
    <p><input type="submit" value="Sign Up"/></p>
    <p>Have an Account?<a href="{{url_for('login')}}"> Log in</a></p>
</form>
-->




{% endblock %}
