{% extends "base1.html" %}

{% block title %}Login Page{% endblock %}

{% block content %}

     {% with messages = get_flashed_messages(with_categories=true) %}
     {% if messages %}
         {% for category,message in messages %}
         {% if category == "success" %}
             <div class="alert alert-success mb-3 alert-dismissible fade show" role="alert" id="alert-message">
                 {{ message }}
             </div>
         {% endif %}

         {% if category == "error" %}
             <div class="alert alert-danger mb-3 alert-dismissible fade show" role="alert" id="alert-message">
                 {{ message }}
             </div>
         {% endif %}

           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true">&times;</span>
           </button>


         <script>
         setTimeout(() => {
             document.getElementById("alert-message").style.opacity = "0";
         }, 1700);
         </script>

         {% endfor %}

     {% endif%}
     {% endwith %}

<body>
    <h1>The BoredApp</h1>
    <image src="{{ url_for('static', filename='images/image.png')}}"></image>
    <h2><a href="{{url_for('login')}}">Log in</a></h2>
    <h2>OR</h2>
    <h2><a href="{{url_for('signup')}}">Sign up</a></h2>

</body>

{% endblock %}
