{% extends "base1.html" %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<!-- For flash messages-->
     {% with messages = get_flashed_messages(with_categories=true) %}
     {% if messages %}
         {% for category,message in messages %}
         {% if category == "success" %}
             <div class="alert alert-success mb-3 fade show" role="alert" id="alert-message">
                 {{ message }}
             </div>
         {% endif %}

         {% if category == "error" %}
             <div class="alert alert-danger mb-3 fade show" role="alert" id="alert-message">
                 {{ message }}
             </div>
         {% endif %}

         {% endfor %}

     {% endif%}
     {% endwith %}

<div class="loginsignup"></div>

<h1 class="boredapptitle"> The BoredApp</h1>
<h2> Enter your new password </h2>

<h6> Your password needs to be at least 8 characters long, have one uppercase letter, one lowercase letter, one digit, and one special character(@, !, #, $, %, ^, &)
</h6>


<!-- For the error message from the 'ResetPassword' flask form validation-->

{% if form.errors %}
    {% for field, errors in form.errors.items() %}
        {% for error in errors %}
            <div class="alert alert-danger mb-3 fade show" role="alert" id="alert-message">
                {{ error }}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}


<!-- WTF-Flask FORM -->

<form class ="loginsignupforgotform" method="POST">
    {{ form.hidden_tag() }}  <!-- This will create our csrf token-->
    <p>{{ form.password(placeholder="New Password") }}</p>
    <p>{{ form.confirm_password(placeholder="Confirm New Password") }}</p>
    <br/>
    {{ form.submit() }}
</form>

<p><a href="{{url_for('login')}}">Back To Login</a></p>

</div>
{% endblock %}